# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Dependency directories
node_modules/
bower_components

#Compiled
dist/

# Local Machine Stuff
.DS_Store
.sass-cache
.publish
Desktop.ini
npm-debug.log
**/generated/_icons.sass
.editorconfig